<footer>
   <div class="container">
       <div class="row justify-content-center">
           <div class="col-12 col-lg-8 text-center">
               <h2 class="smaller mb-4 text-uppercase"><strong>Wichtige Links</strong></h2>
               <ul class="button-list">
                   <li><a class="btn" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                   <li><a class="btn" href="https://laravel-mix.com/" target="_blank">Laravel Mix</a></li>
                   <li><a class="btn" href="https://github.com/Duplexmedia/" target="_blank">GitHub</a></li>
               </ul>
           </div>
       </div>
   </div>
    <div class="nav-footer">
        <ul class="navi-add d-flex justify-content-center gap-5">
            <include src="_menu/footermenu-items.html"></include>
        </ul>
    </div>
</footer>