<!DOCTYPE html>
<html lang="de">
<extends src="_includes/head.html">
    <block name="title"><title>Startseite</title></block>
    <block name="description"><meta name="description" content="Beschreibung"></block>
</extends>
<body class="no-js home">
    <div id="page">
        <include src="_includes/navigation.html"></include>
        <header>
            <include src="_blocks/headline.html">
                {
                    "headline": "Laravel Mix",
                    "text": "Frontend Framework"
                }
            </include>
        </header>
        <main>
            <include src="_blocks/image.html">
                {
                    "image_url": "/../images/preview",
                    "alt": "Preview"
                }
           </include>
        </main>
        <footer>
            <include src="_includes/footer.html"></include>
        </footer>
    </div>
    <include src="_includes/scripts.html"></include>
</body>



