<!DOCTYPE html>
<html lang="de">
<extends src="_includes/head.html">
    <block name="title">
        <title>Startseite</title>
    </block>
    <block name="description">
        <meta name="description" content="Beschreibung">
    </block>
</extends>
<body class="no-js home">
<div id="page">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <a class="branding" href="/" title="Brand" alt="Brand">
                            <img src="/src/images/logo.svg" title="Logo" alt="Logo">
                        </a>
                    </div>
                    <include src="_blocks/headline.html">
                        {
                        "class": "text-center",
                        "headline": "Laravel Mix",
                        "text": "Frontend Framework"
                        }
                    </include>
                </div>
            </div>
        </div>
    </header>
    <extends src="_includes/navigation.html">
        <block name="navigation">
            <li class="nav-item">
                <a class="nav-link" target="_self" href="documentation.html">Documentation</a>
            </li>
        </block>
    </extends>
    <main>

    </main>
    <footer>
        <include src="_includes/footer.html"></include>
    </footer>
</div>
<include src="_includes/scripts.html"></include>
</body>



