<div class="video-container {{ container_class }}">
    <ul class="apps-container">
        <li><a href="#bootstrap"><i class="fa-brands fa-bootstrap"></i> <span>Bootstrap</span></a></li>
        <li><a href="#laravel"><i class="fa-brands fa-laravel"></i> <span>Laravel Mix</span></a></li>
        <li><a href="#sass"><i class="fa-brands fa-sass"></i> <span>SASS</span></a></li>
        <li><a href="#webpack"><i class="fa-thin fa-cube"></i> <span>Webpack</span></a></li>
    </ul>
    <video class="img-fluid" autoplay="autoplay" muted="true" loop="true">
        <source src="{{ video_url }}.mp4">
    </video>
</div>
