footer {
  position: relative;
  margin-block-start: rem(50px);
  background: $dark;
  padding-block: rem(25px);

  p {
    color: $light;
    margin: 0;
    font-weight: 300;
    font-size: rem(16px);
  }

  .nav-footer {

    ul {
      margin: 0;
      padding: 0;

      li {
        a {
          color: $light;
          font-size: rem(16px);

          &:hover {
            @include breakpoint (large) {
                color: $primary;
            }
          }
        }
      }
    }
  }
}


