footer {
  position: relative;
  margin-block-start: rem(50px);
}

.nav-footer {
  background: $dark;
  padding-block: rem(25px);
  margin-block-start: rem(50px);

  ul {
    margin: 0;
    li {
      a {
        color: $light;
      }
    }
  }
}