* {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  color: $dark;
  overflow-x: hidden;
}

body {
  color: $dark;
  background: #ebebeb;
  @include font($font-size, $font-weight, $line-height, $main-font);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  color: $dark;
  transition: 500ms cubic-bezier(0.6, 0, 0, 0.5);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.btn {
  padding-inline: rem(40px);
  background: $primary;
  color: $light;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: 0 20px 50px -10px rgba(9, 9, 16, 0.5);
  font-size: 1rem;
  border: none;
  border-radius: $border-radius;
  width: 100%;
  height: rem(50px);
  text-transform: uppercase;
  letter-spacing: 2px;

  &.btn-primary {
    background: $primary;
  }

  &:before {
    display: none;
  }

  &:hover {
    @include breakpoint(medium) {
      background: $dark;
      color: $light;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.badge-info {
  font-size: rem(12px);
  background: $primary;
  color: $light;
  padding: rem(2px) rem(5px);
  border-radius: rem(3px);
  font-weight: 400;
  position: absolute;
  transform: translateY(-3px);
  margin-left: rem(10px);
}

ul.styled {
  margin: 0;

  li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: rem(10px);
  font-weight: 900;
  color: $dark;
  font-size: clamp(24px, 5vw + 1rem , 60px);
  line-height: 1.5;
  letter-spacing: 5px;

  &.smaller {
    font-size: clamp(20px, 5vw + 1rem , 34px);

  }
}

h2, .h2 {
  font-weight: 600;
  color: $dark;
  font-size: clamp(20px, 3vw + 1rem , 40px);
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
}

.button-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
  li {
    width: 100%;
  }
}

.z-index--1 {
  z-index: -1;
}

.border-radius {
  border-radius: rem(10px);
}

.margin-block-start-100 {
  margin-block-start: rem(100px);
}
