.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: darken(#ebebeb, 5);
  z-index: 100;
  box-shadow: 0 20px 50px -20px rgba(9, 9, 16, 0.5);

  .navbar-collapse {
    justify-content: flex-end;

    .navbar-nav {

      @include breakpoint(large) {
        display: flex;
        gap: 20px;
      }

      .nav-item {

        .nav-link {
          color: $dark;
          text-transform: uppercase;
          font-weight: 400;
          font-size: rem(18px);

          @include breakpoint(large) {
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    background: $dark;
  }

}

.branding {
  display: block;
  margin-block-start: 200px;

  img {
    width: 100%;
    max-width: rem(225px);
  }
}
