.navbar {
  position: relative;
  width: 100%;
  background: darken(#ebebeb, 5);

  .navbar-collapse {
    justify-content: flex-end;

    .navbar-nav {

      @include breakpoint(large) {
        display: flex;
        gap: 20px;
      }

      .nav-item {

        .nav-link {
          color: $dark;
          text-transform: uppercase;
          font-weight: 600;
          font-size: rem(20px);
        }
      }
    }
  }

  .navbar-toggler {
    background: $dark;
  }

  .branding {
    display: block;
    padding-block: rem(25px);

    img {
      width: rem(80px);

    }
  }
}
